<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>nguyentg.filter.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>nguyentg.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>nguyentg.controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>nguyentg.controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>nguyentg.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>nguyentg.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPriceController</servlet-name>
        <servlet-class>nguyentg.controller.SearchByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCategoryController</servlet-name>
        <servlet-class>nguyentg.controller.SearchByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByNameController</servlet-name>
        <servlet-class>nguyentg.controller.SearchByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePageController</servlet-name>
        <servlet-class>nguyentg.controller.ChangePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextPageController</servlet-name>
        <servlet-class>nguyentg.controller.NextPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousPageController</servlet-name>
        <servlet-class>nguyentg.controller.PreviousPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>nguyentg.controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUpdateProductController</servlet-name>
        <servlet-class>nguyentg.controller.LoadUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>nguyentg.controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>nguyentg.controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDetailProductController</servlet-name>
        <servlet-class>nguyentg.controller.LoadDetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>nguyentg.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckQuantityProductController</servlet-name>
        <servlet-class>nguyentg.controller.CheckQuantityProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductInCartController</servlet-name>
        <servlet-class>nguyentg.controller.DeleteProductInCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityProductInCartController</servlet-name>
        <servlet-class>nguyentg.controller.UpdateQuantityProductInCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCartController</servlet-name>
        <servlet-class>nguyentg.controller.CheckCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCartController</servlet-name>
        <servlet-class>nguyentg.controller.InsertCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillController</servlet-name>
        <servlet-class>nguyentg.controller.SearchBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillByNameController</servlet-name>
        <servlet-class>nguyentg.controller.SearchBillByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillByDateController</servlet-name>
        <servlet-class>nguyentg.controller.SearchBillByDateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPriceController</servlet-name>
        <url-pattern>/SearchByPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCategoryController</servlet-name>
        <url-pattern>/SearchByCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByNameController</servlet-name>
        <url-pattern>/SearchByNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePageController</servlet-name>
        <url-pattern>/ChangePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextPageController</servlet-name>
        <url-pattern>/NextPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPageController</servlet-name>
        <url-pattern>/PreviousPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUpdateProductController</servlet-name>
        <url-pattern>/LoadUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDetailProductController</servlet-name>
        <url-pattern>/LoadDetailProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQuantityProductController</servlet-name>
        <url-pattern>/CheckQuantityProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductInCartController</servlet-name>
        <url-pattern>/DeleteProductInCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityProductInCartController</servlet-name>
        <url-pattern>/UpdateQuantityProductInCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCartController</servlet-name>
        <url-pattern>/CheckCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCartController</servlet-name>
        <url-pattern>/InsertCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillController</servlet-name>
        <url-pattern>/SearchBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillByNameController</servlet-name>
        <url-pattern>/SearchBillByNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillByDateController</servlet-name>
        <url-pattern>/SearchBillByDateController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description> Resource reference to Javax.sql.Connection</description>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <context-param>
        <param-name>clienID</param-name>
        <param-value>Aekao2YapzP-JSdTIyU2faFhSbTEfEc8vlrC8mz2DSFTKdccT-2b7wyruZ9yhLG-fU8QFa1KrFaAJJLE</param-value>
    </context-param>
</web-app>
